<div class="col-sm-12">All games played by {{ favouriteTeam.name }}</div>
<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-4 heading">Team 1</div>
    <div class="col-sm-4 heading">Team 2</div>
    <div class="col-sm-4 heading">Year</div>
  </div>
  <div class="row" *ngFor="let team of getAllMatches()">
    <div class="col-sm-4 value">{{ team.ateam }}</div>
    <div class="col-sm-4 value">{{ team.hteam }}</div>
    <div class="col-sm-4 value">{{ team.year }}</div>
  </div>
</div>
