
<h3>Games so far for: {{ favouriteTeam.name }}</h3>

<table class="table">
        
        <thead class="thead-dark">
        <tr>
                <th>Away Team</th>
                <th></th>
                <th>Home Team</th>
                <th>Winner</th>
                <th>Venue</th>
        </tr>
        </thead>
        <tr *ngFor='let x of getAllMatches()'> 
                <td>{{x.ateam}}</td>
                <td> VS </td>
                <td>{{x.hteam}}</td>
                <td class="demo1">{{x.winner}}</td>
                <td >{{x.venue}}</td>
        </tr>
</table>
