<div *ngIf="favouriteTeam == null" class="select-team-heading">
  Select a Team to Begin
</div>
<div *ngIf="favouriteTeam != null">
  <div class="col-sm-12 favTeam">
    <h1>{{ favouriteTeam.name }}</h1>
  </div>
  <div class="col-sm-12 button-nav">
    <button
      class="nav-button"
      value="All Games"
      [ngClass]="{ selected: isSelected('All Games') }"
      (click)="setActive($event)"
    >
      All Games
    </button>
    <button
      class="nav-button"
      value="H2H Games"
      [ngClass]="{ selected: isSelected('H2H Games') }"
      (click)="setActive($event)"
    >
      H2H Games
    </button>
    <button
      class="nav-button"
      value="Upcoming Games"
      [ngClass]="{ selected: isSelected('Upcoming Games') }"
      (click)="setActive($event)"
    >
      Upcoming Games
    </button>
    
    <button
      class="nav-button"
      value="Predictions"
      [ngClass]="{ selected: isSelected('Predictions') }"
      (click)="setActive($event)"
    >
      Predictions
    </button>
    
    <button
      class="nav-button"
      value="PastPredictions"
      [ngClass]="{ selected: isSelected('PastPredictions') }"
      (click)="setActive($event)"
    >
      PastPredictions
    </button>
    
    <button
    class="nav-button"
    value="Standings"
    [ngClass]="{ selected: isSelected('Standings') }"
    (click)="setActive($event)"
  >
  Standings
  </button>
  

    <button
      class="nav-button"
      value="Games Nearby"
      [ngClass]="{ selected: isSelected('Games Nearby') }"
      (click)="setActive($event)"
    >
      Games Nearby
    </button>
    
  </div>
  <div class="col-sm-12" *ngIf="activeTab === 'All Games'">
    <app-all-games [favouriteTeam]="favouriteTeam"></app-all-games>
  </div>
  <div class="col-sm-12" *ngIf="activeTab === 'H2H Games'">
    <app-h2-hgames></app-h2-hgames>
  </div>
  <div class="col-sm-12" *ngIf="activeTab === 'Upcoming Games'">
    <app-upcoming-games [favouriteTeam]="favouriteTeam"></app-upcoming-games>
  </div>
  <div class="col-sm-12" *ngIf="activeTab === 'Predictions'">
    <app-predictions [favouriteTeam]="favouriteTeam"></app-predictions>
  </div>
  <div class="col-sm-12" *ngIf="activeTab === 'PastPredictions'">
    <past-predictions [favouriteTeam]="favouriteTeam"></past-predictions>
  </div>
  <div class="col-sm-12" *ngIf="activeTab === 'Games Nearby'">
    <app-nearby-venue [favouriteTeam]="favouriteTeam"></app-nearby-venue>
  </div>
  <div class="col-sm-12" *ngIf="activeTab === 'Standings'">
    <app-standings [favouriteTeam]="favouriteTeam"></app-standings>
  </div>
</div>
