<div class="container" *ngIf="favouriteTeam == null">
  <div class="row text-center" *ngIf="teams">
    <div class="col-lg-3 col-md-6 mb-4" *ngFor="let team of teams">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="assets/img/AFL-Masters-Logo.png"
          alt=""
        />
        <div class="card-body">
          <h4 class="card-title">{{ team.name }}</h4>
          <p class="card-text">{{ team.id }} - {{ team.abbrev }}</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" (click)="setfavouriteTeam(team)">
            Select
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div>Selected Team {{favouriteTeam.name}} </div> -->

<app-detail></app-detail>

<!-- 
<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-3 bg-red no-pad-h">
      <app-team></app-team>
    </div>
    <div class="col-sm-9">
      <app-detail></app-detail>
    </div>
  </div>
</div> -->
