<div *ngIf="favouriteTeam != null">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{favouriteTeam.name}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" value="All Games"
        [ngClass]="{ selected: isSelected('All Games') }"
        (click)="setActive('All Games')">All Games<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" value="H2H Games"
        [ngClass]="{ selected: isSelected('H2H Games') }"
        (click)="setActive('H2H Games')">Head to Head</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" value="Upcoming Games"
        [ngClass]="{ selected: isSelected('Upcoming Games') }"
        (click)="setActive('Upcoming Games')">Upcoming Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " value="Predictions"
        [ngClass]="{ selected: isSelected('Predictions') }"
        (click)="setActive('Predictions')">Next Game Predictions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " value="PastPredictions"
        [ngClass]="{ selected: isSelected('PastPredictions') }"
        (click)="setActive('PastPredictions')">Past Predictions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " value="Standings"
        [ngClass]="{ selected: isSelected('Standings') }"
        (click)="setActive('Standings')">Standings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " value="Rankings"
        [ngClass]="{ selected: isSelected('Rankings') }"
        (click)="setActive('Rankings')">Rankings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " value="Games Nearby"
        [ngClass]="{ selected: isSelected('Games Nearby') }"
        (click)="setActive('Games Nearby')">Games Nearby</a>
      </li>
      <div>
        <div class="col-sm-3">
          <select
            name="TeamSelectionDropdown"
            #TeamSelectionDropdown
            [(ngModel)]="favouriteTeam"
          >
            <option *ngFor="let team of teams" [ngValue]="team">
              {{ team.name }}
            </option>
          </select>
        </div>
      </div>
      </ul>
  </div>
</nav>


<div class="col-sm-12" *ngIf="activeTab === 'All Games'">
  <app-all-games [favouriteTeam]="favouriteTeam"></app-all-games>
</div>
<div class="col-sm-12" *ngIf="activeTab === 'H2H Games'">
  <app-h2-hgames
    [favouriteTeam]="favouriteTeam"
    [teams]="teams"
  ></app-h2-hgames>
</div>
<div class="col-sm-12" *ngIf="activeTab === 'Upcoming Games'">
  <app-upcoming-games [favouriteTeam]="favouriteTeam"></app-upcoming-games>
</div>
<div class="col-sm-12" *ngIf="activeTab === 'Rankings'">
  <app-rankings [favouriteTeam]="favouriteTeam"></app-rankings>
</div>
<div class="col-sm-12" *ngIf="activeTab === 'Predictions'">
  <app-predictions [favouriteTeam]="favouriteTeam"></app-predictions>
</div>
<div class="col-sm-12" *ngIf="activeTab === 'PastPredictions'">
  <past-predictions [favouriteTeam]="favouriteTeam"></past-predictions>
</div>
<div class="col-sm-12" *ngIf="activeTab === 'Games Nearby'">
  <app-nearby-venue></app-nearby-venue>
</div>
<div class="col-sm-12" *ngIf="activeTab === 'Standings'">
  <app-standings [favouriteTeam]="favouriteTeam"></app-standings>
</div>
</div>
