.favTeam {
  text-align: center;
}
.button-nav {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000000;
  padding-left: 0px;
  padding-right: 0px;
}
.nav-button {
  background: none;
  border: none;
  border-left: 1px solid;
  color:grey;
}

.nav-button:nth-child(1) {
  border: none;
}

.selected {
  font-weight: 700;
  color: #ff0000;
}
.select-team-heading {
  text-align: center;
  font-weight: 700;
  padding: 10rem;
  font-size: 3rem;
}
